<!--ng repeat is best for showing tables-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<style>
    table, th, td{
        border: 1px solid grey;
        border-collapse: collapse;
        padding: 5px;
    }

    table tr:nth-child(odd){
        background-color: #f1f1f1;
    }

    table tr:nth-child(even){
        background-color: #ffffff;
    }
</style>
<body ng-app="myapp">
    <div ng-controller="ctrl1">
        <table>
            <tr ng-repeat="x in names | orderBy : 'Country'">
                <td>{{$index + 1}}</td>
                <td>{{x.Name}}</td>
                <td>{{x.Country | uppercase}}</td>
            </tr>
        </table>
    </div>

    <script>
        var app = angular.module('myapp',[]);
        app.controller('ctrl1', function($scope, $http){
            $http.get("customer.php").then(function(response){
                $scope.names = response.data.records;
            });
        });
    </script>
</body>
</html>

<!--

    <table>
        <tr ng-repeat="x in names">
            <td ng-if = $odd style="background-color:#fffff">{{x.Name}}</td>
            <td ng-if = $even>{{x.Name}}</td>
            <td ng-if = $odd style="background-color:#f1f1f1">{{x.Country}}</td>
            <td ng-if = $even>{{x.Country}}</td>
        </tr>
    </table>

-->